.create-card {
    margin-bottom: 20px;
    margin-left: 48px;
}
.create-card .card-num,
.create-card .card-money {
    height: 30px;
    border: 1px solid #ccc;
    width: 100px;
    padding: 0 12px;
    margin: 0 5px;
}
.create-card .commit-card {
    background-color: #00a65a;
    border-color: #008d4c;
    color: #fff;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 12px;
}
.create-card .card-num-wrap {
    margin: 0 20px;
}
