.list h2 {
    margin-bottom: 20px;
    font-size: 18px;
}
.list ul {
    border: 1px solid #ccc;
    overflow: hidden;
    min-height: 30px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 0;
    border-top: 0;
}
.list ul:first-child {
    border-top: 1px solid #ccc;
}
.list li {
    float: left;
    font-size: 15px;
}
.list li:nth-child(1),
.list li:nth-child(2) {
    width: 25%;
    line-height: 18px;
    font-size: 15px;
    padding: 5px 0;
}
.list li:nth-child(2) {
    width: 15%;
}
.list li:nth-child(3) {
    width: 10%;
}
.list li:nth-child(4) {
    width: 25%;
    padding: 5px 0;
}
.list li:nth-child(5) {
    width: 25%;
    font-size: 13px;
    line-height: 18px;
    padding: 5px;
}
.list .total-income {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
    color: #cd3250;
}
.list ul.title {
    border-top: 1px solid #ccc;
}
.list ul.title li {
    font-weight: bold;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.list li p {
    font-size: 13px;
    line-height: 18px;
}
.list ul.pagination {
    border: 0;
    padding: 0;
}
.list ul.pagination li {
    width: auto;
    padding: 0 !important;
}
.pagination > li > a, .pagination > li > span {
    font-size: 15px;
}