.course-category-wrap,
.package-category-wrap,
.package-course-wrap {
    position: relative;
}
.category-result,
.package-category-result,
.course-result {
    position: absolute;
    top: 0;
    left: 0;
    top: 59px;
    background-color: #fff;
    border: 1px solid #d2d6de;
    border-top: 0;
}
.category-result span,
.package-category-result span,
.course-result span {
    display: block;
    padding: 6px 88px 6px 12px;
    background-color: palevioletred;
    cursor: pointer;
    color: white;
}
/* 套餐课程 */
.field-coursepackage-course .form-control {
    padding: 0;
    height: auto;
    min-height: 34px;
}
.field-coursepackage-course .course_wrap input {
    height: 32px;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 12px;
}