* {
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:focus, a:hover {
    text-decoration: none;
}
html,
body {
    height: 100%;
    background-color: #ecf0f5;
}
p {
    margin: 0;
    padding: 0;
}
.icon {
    font-size: 20px;
}
a.btn-default {
    display: inline-block;
    color: #666;
    background: #e4e7ea;
    padding: 6px 15px;
    border: 1px solid #ddd;
}

.wrap {
    width: 100%;
    position: relative;
    padding: 0;
}
.wrap:before {
    position: absolute;
    content: "";
    height: calc(100% - 60px);
    top: 60px;
    left: 0;
    background: #222d32;
    width: 20%;
}
.wrap .left-logo {
    display: block;
    width: 20%;
    height: 50px;
    background-color: #008d4c;
    color: #fff;
    border-bottom: 0 solid transparent;
    text-align: center;
    float: left;
}
.wrap .left-logo .logo-more {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.wrap .header-menu {
    width: 80%;
    margin-left: 20%;
    height: 50px;
    background: #00a65a;
}
.wrap .header-menu a {
    color: #fff;
}
.wrap .menu-icon {
    float: left;
    padding: 0 20px;
}
.wrap .menu-icon:hover,
.wrap .account-con li:hover,
.wrap .account.active {
    background: #008d4c;
}
.wrap .menu-icon .ion-navicon:before {
    font-size: 25px;
    line-height: 50px;
}
.wrap .account-con {
    float: right;
    margin: 0;
}
.wrap .account-con li {
    display: inline-block;
    width: auto;
    float: right;
    height: 50px;
}
.wrap .account-con li.notice-con a {
    padding: 0 10px;
    line-height: 50px;
}
.wrap .account {
    position: relative;
}
.wrap .account .user-info {
    padding: 0 20px;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}
.wrap .account .user-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
}
.wrap .account .user-name {
    line-height: 50px;
}
.wrap .account .account-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    width: 280px;
    margin-top: 1px;
    box-shadow: 0 2px 10px #ccc;
}
.wrap .account .user-header {
    height: 200px;
    background: #00a65a;
    text-align: center;
    color: #fff;
}
.wrap .account .user-header img {
    border-radius: 50%;
    width: 100px;
    margin-top: 20px;
    border: 4px solid rgba(255,255,255,0.2);
}
.wrap .account .user-manage {
    display: block;
    margin: 10px 0 5px;
    font-size: 17px;
}
.wrap .btn-wrapper {
    height: 60px;
    background: #f9f9f9;
}
.wrap a.btn-modify {
    margin: 13px 0 0 10px;
    float: left;
    color: #666;
}
.wrap a.btn-logout {
    float: right;
    margin: 13px 10px 0 0;
    color: #666;
}
.treeview .list-group-item {
    background: #222d32;
    border: 0;
    color: #b8c7ce;
    border-radius: 0;
    padding: 10px 20px;
}
.treeview .list-group-item.node-tree:hover {
    background: #1e282c;
    color: #fff;
}
.list-group {
    width: 20%;
    float: left;
    border: 0;
    padding-bottom: 60px;
    background: #222d32;
    margin-bottom: 0;
}
.list-group .icon {
    font-size: 17px;
    margin-right: 5px;
}
.list-group .ion-home {
    font-size: 20px;
    margin-right: 10px;
}
.list-group li:first-child .glyphicon {
    display: none;
}

.container {
    width: 80% !important;
}
.wrap > .container {
    padding: 15px;
    margin-left: 20%;
    background-color: #ecf0f5;
}
.wrap > .container:after {
    display: none;
}
.wrap > .container .section {
    background: #fff;
    padding: 20px 15px;
    border-radius: 5px;
    position: relative;
}
.wrap > .container .section h1 {
    font-size: 25px;
}
.section.course-index form .form-group {
    width: 14%;
    float: left;
    margin-right: 1%;
}
.section.course-index form .form-group:last-child {
    width: auto;
    margin: 24px 0 0;
}
.section .summary {
    display: none;
}
.section .create-class {
    position: absolute;
    top: 35px;
    right: 15px;
}
.table-bordered {
    margin-top: 10px;
}
.section .table-bordered th {
    border-bottom: 0;
}
.section.course-view th {
    width: 100px;
}

.footer {
    background: #fff;
    padding: 0;
    color: #444;
    border-top: 1px solid #d2d6de;
    height: 60px;
    width: 100%;
    clear: both;
}
.footer .pull-left,
.footer .pull-right {
    line-height: 60px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
