.book-content {
    clear: both;
    overflow: hidden;
    width: 1200px;
    margin: 20px auto;
}
.book-content ul li {
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.book-content ul li img {
    width: 100%;
}