.book-content {
    clear: both;
    overflow: hidden;
    width: 1200px;
    margin: 20px auto;
}
.book-content ul li {
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #d5c7c7;
    border-radius: 4px;
}
.book-content ul li img {
    width: 80%;
}