.nytxt2 {
    position: relative;
    border: 15px solid #264863;
}
.nytxt2 dt {
    width: auto;
    float: none;
    display: inline-block;
}
.nytxt2 dd {
    float: none;
    display: inline-block;
    position: absolute;
    padding-left: 40px;
    padding-top: 40px;
    height: 100%;
}
.nytxt2 dd p {
    font-size: 16px;
    line-height: 25px;
}
.nytxt2 dt img {
    min-width: 370px;
}
.order-book {
    position: absolute;
    bottom: 80px;
    font-size: 18px;
    color: #fff;
}
.order-book-btn {
    cursor: pointer;
    width: 157px;
    height: 39px;
    line-height: 35px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    color: #0f88e7;
    margin-left: 10px;
}
.order-book-num {
    width: 100px;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    padding: 5px;
    height: 28px;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.course-tag-content .tag-content {
    display: block;
}