.nytxt2 {
    position: relative;
    background-color: inherit;
}
.nytxt2 dt {
    width: auto;
    float: none;
    display: inline-block;
    background-color: white;
    width: 370px;
}
.nytxt2 dd {
    float: none;
    display: inline-block;
    position: absolute;
    padding-top: 40px;
    height: 100%;
}
.nytxt2 dd p {
    font-size: 16px;
    line-height: 25px;
    color: #605c5c;
}
.nytxt2 dt img {
    max-height: 370px;
    width: auto;
}
.order-book {
    position: absolute;
    bottom: 80px;
    font-size: 18px;
    color: #fff;
}
.order-book-btn {
    cursor: pointer;
    width: 157px;
    height: 39px;
    line-height: 35px;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    background-color: #0f88e7;
}
.order-book-num {
    width: 100px;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    padding: 5px;
    height: 28px;
    color: #000;
    font-size: 14px;
    text-align: center;
}
.course-tag-content .tag-content {
    display: block;
}
.nytxt2 dd h4 {
    color: #2b333b;
    font-weight: bold;
}
.price-wrap {
    margin-top: 15px;
}
.order-price {
    color: #f01414;
}
.price {
    text-decoration: line-through;
    color: #605c5c;
}
.nytxt3_l {
    width: 100%;
}