.card-wrapper {
    width: 100%;
}
.card-wrapper .card-form {
    width: 100%;
    background: url('../img/card_bg.png') no-repeat center;
    position: relative;
    padding: 50px 0;
    overflow: hidden;
}
.card-wrapper .card-img {
    position: absolute;
    right: -20%;
    bottom: -10%;
    width: 60%;
}
.card-wrapper .card-input {
    width: 1180px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
}
.card-wrapper .large-title {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 25px;
    color: #fff;
}
.card-wrapper .large-title .color {
    color: #ffeb3b;
}
.card-wrapper .subtitle {
    font-size: 36px;
}
.card-wrapper .card-tips {
    margin: 50px 0 30px;
    line-height: 40px;
    font-size: 22px;
}
.card-wrapper .card-tips a {
    color: #ffeb3b;
}
.card-section input {
    padding: 18px 15px;
    width: 405px;
    height: 50px;
    line-height: 30px;
    border: 1px solid #dadada;
    border-radius: 4px;
    background: #FFF;
    font-size: 16px;
    outline: none;
    display: block;
    margin-bottom: 15px;
    color: #444;
}
.card-section .submit-btn {
    display: inline-block;
    float: left;
    margin-right: 20px;
    width: 192px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: #ff9800;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
}
.card-section .card-link {
    color: #fff;
    font-size: 16px;
    line-height: 55px;
    text-decoration: underline;
}
.card-section .card-link:hover {
    color: #ffeb3b;
}
.deposit-step {
    position: relative;
    width: 100%;
    height: 100px;
    background: #fafafa;
    color: #03a9f4;
    z-index: 2;
}
.deposit-step dl {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
}
.deposit-step dl dt {
    position: relative;
    width: 170px;
    line-height: 100px;
    font-size: 32px;
    font-weight: normal;
    float: left;
    margin-right: 30px;
}
.deposit-step dt i {
    position: absolute;
    top: 37px;
    left: 140px;
    display: inline-block;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #03a9f4;
}
.deposit-step dd {
    position: relative;
    margin-top: 25px;
    padding: 0 0 0 80px;
    height: 48px;
    line-height: 22px;
    border-left: 1px solid #e6e6e6;
    font-size: 16px;
    float: left;
    margin-right: 70px;
}
.deposit-step dd i {
    position: absolute;
    top: 10px;
    left: 36px;
    display: inline-block;
    width: 30px;
    font-size: 48px;
    vertical-align: middle;
}
.deposit-step dd.last span {
    line-height: 48px;
}