.course-section {
    padding-bottom: 100px;
}
.course-category {
    width: 100%;
    background: #fff;
    padding: 15px 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 14px;
    overflow: hidden;
}
.category-title {
    width: 140px;
    display: block;
    float: left;
    color: #333;
    height: 30px;
    line-height: 30px;
}
.category-li {
    overflow: hidden;
}
.category-li li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}
.category-li li:hover,
.category-li li.active {
    background-color: #f2494e;
    border-radius: 5px;
}
.category-li li.active a {
    color: #fff;
}
.category-li li a {
    color: #333;
    padding: 8px 20px;
    display: inline-block;
}
.category-li li:hover a {
    color: #fff;
}
.course-content {
    clear: both;
    overflow: hidden;
}

.container-inner {
    width: 1180px;
    margin: 0 auto;
}
.menu-position {
    margin: 10px auto;
}
.course-content .list li {
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.course-content .list li:nth-child(4n) {
    margin-right: 0;
}
.course-content .list li .course-img {
    width: 280px;
    height: 190px;
    cursor: pointer;
    overflow: hidden;
}
.course-content .list li .course-img img {
    transform: scale(1.0);
    transition: transform 1.5s;
    -webkit-transition: transform 1.5s;
    width: 100%;
    height: 100%;
}
.course-content .list li .course-img.active img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.course-content .list>li:nth-child(4n) {
    margin-right: 0;
}
.course-content .content-title {
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
    color: #777779;
    text-align: left
}
.course-content .course-statistic {
    font-size: 13px;
    color: #b8b8b8;
    text-align: left;
}
.course-content .course-statistic .icon:before {
    font-size: 18px;
    vertical-align: middle;
}
.course-content .course-statistic .ion-android-person:before {
    color: #b8b8b8;
}
.course-content .course-statistic .ion-heart:before {
    color: #e43542;
    margin-left: 15px;
}
.container-course .view-more {
    width: 190px;
    height: 40px;
    display: block;
    overflow: hidden;
    font-size: 13px;
    color: #fff;
    background: #ff686d;
    line-height: 40px;
    text-align: center;
    margin: 50px auto 0;
    border-radius: 18px;
    box-shadow: 0px 0px 5px #ff686d;
}
.container-course .view-more:hover {
    box-shadow: 0 0 15px #ff686d;
}
.course-content .teacher-section {
    margin-top: 10px;
}
.course-content .teacher-section img {
    width: 23px;
    margin-right: 15px;
}
.course-content .teacher-section .teacher-name {
    font-size: 13px;
    color: #777779;
}
.container-course .no-result {
    text-align: center;
    min-height: 320px;
}
.container-course .no-result h5 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 50px;
}
.container-course .no-result p {
    font-size: 18px;
}

/* course detail */
.nytxt2 dt img {
    width: 100%;
    height: 100%;
}
.nytxt3_r .teacher-img,
.head-teacher-wechat  {
    width: 134px;
    height: 106px;
}
.main-section {
    width: 1180px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 30px;
    overflow: hidden;
}
.course-detail-left {
    width: 620px;
    height: 420px;
    float: left;
    position: relative;
    background-color: #000;
}
.course-detail-left img {
    height: auto !important;
}
.course-detail-left video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.course-detail-left img {
    width: 100%;
    height: 100%;
}
.course-detail-right {
    width: 450px;
    margin-left: 50px;
    float: left;
}
.course-detail-title {
    font-size: 24px;
    text-align: left;
    line-height: 60px;
}
.course-sub-title {
    font-size: 14px;
    text-align: left;
    color: #ff9933;
}
.course-detail-right .course-price {
    padding-left: 20px;
    margin-bottom: 0;
    padding: 10px 0;
    color: #919191;
    font-size: 14px;
}
.course-detail-right .price-tag {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.course-detail-right .price-highlight {
    font-size: 24px;
    color: #E1604C;
}
.course-detail-right .btn-course {
    width: 100%;
}
.course-detail-right .btn-course a {
    display: inline-block;
    font-size: 22px;
    padding: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 48px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 210px;
}
.course-detail-right .btn-course .quick-buy {
    background-color: #46c37b;
    border: 1px solid #46c37b;
}
.course-detail-right .btn-course .add-cart {
    background-color: #fd7863;
    border: 1px solid #fd7863;
}
.course-ispay-tag {
    color: #ff893b;
    margin-top: 10px;
    font-size: 16px;
    display: inline-block;
}
.course-info {
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
    color: #666;
}
.info-list {
    overflow: hidden;
}
.info-list li {
    width: 150px;
    float: left;
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
    text-align: left;
}
.share-like {
    margin-top: 30px;
    overflow: hidden;
}
.share-like .share-list {
    margin-right: 30px;
    float: left;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: #32b7fa;
    text-align: left;
    cursor: pointer;
}
.share-like .share-list a {
    color: #32b7fa;
}
.kc-left {
    width: 855px;
    float: left;
}
.kc-left .course-tag {
    width: 100%;
    height: 50px;
    background: #F4F4F4;
    border-left: 1px solid #F4F4F4;
    padding-left: 1px;
}
.kc-left .course-tag li {
    height: 48px;
    float: left;
    font-size: 14px;
    line-height: 48px;
    padding: 0 40px;
    cursor: pointer;
    color: #555;
    border-right: 1px solid #dbdbdb;
}
.kc-left .course-tag li.active {
    color: #FF2A2A;
    border-top: 2px solid #D83F2A;
}
.course-tag-content {
    margin-top: 20px;
    width: 100%;
}
.course-tag-content .tag-content {
    display: none;
    padding: 0 23px;
    font-size: 16px;
}
.course-tag-content .tag-content.active {
    display: block;
}
.data-ul li {
    width: 100%;
    height: 60px;
    border-left: 4px solid red;
    padding: 5px 10px;
    background: #f6f6f6;
    margin-bottom: 20px;
}
.data-ul li p,
.data-ul li .data-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.course-evaluate textarea {
    width: 100%;
    height: 100px;
    display: block;
    margin: 22px auto 0;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 10px;
}
.course-evaluate button {
    float: right;
    display: inline-block;
    font-size: 22px;
    padding: 0;
    margin-bottom: 10px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 70px;
    font-size: 14px;
    outline: none;
    background-color: #fd7863;
    border: 1px solid #fd7863;
    margin-top: 20px;
}
.chapter-title li {
    margin-bottom: 15px;
}
.chapter-title-name {
    height: 50px;
    border-left: 4px solid #ff686d;
    padding-left: 25px;
    padding-right: 20px;
    font-size: 16px;
    color: #444444;
    line-height: 50px;
    background: #f2f3f5;
    cursor: pointer;
}
.chapter-title li .chapter-title-name:after {
    display: block;
    content: "";
    background: url(../img/course-plus-icon.png) no-repeat center;
    width: 21px;
    height: 21px;
    display: block;
    float: right;
    margin-top: 15px;
}
.chapter-title li.active .chapter-title-name:after {
    background: url(../img/course-minus-icon.png) no-repeat center;
}
.chapter-title li .chapter-con {
    padding: 10px 35px 0 20px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 5px;
    display: none;
}
.chapter-title li.active .chapter-con {
    display: block;
}
.chapter-con li {
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    margin-bottom: 0;
}
.chapter-con li a {
    display: inline-block;
    font-size: 14px;
    color: #444444;
}
.chapter-con li a:hover {
    color: #e3383e;
}
.chapter-list-time {
    font-size: 14px;
    color: #e3383e;
    float: right;
}
.chapter-list-time .time-tag {
    font-size: 12px;
    color: #0099ff;
    display: inline-block;
    border: 1px solid #0099ff;
    border-radius: 12px;
    padding: 0px 10px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
}
.chapter-con .time-con {
    display: inline-block;
    min-width: 70px;
}
.chapter-list-name:before {
    content: '';
    background: url(/img/chapter-play-icon.png) no-repeat;
    height: 16px;
    width: 16px;
    background-size: cover;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-bottom;
}
.kc-right {
    width: 270px;
    margin-left: 10px;
    float: right;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding: 15px;
}
.kc-right.kc-right-student {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    clear: both;
}
.kc-right-student .student-title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-indent: 15px;
}
.student-list {
    overflow: hidden;
    padding: 8px 8px 0;
}
.student-list li {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 5px;
    text-align: center;
}
.student-list li:nth-child(4n) {
    margin-right: 0;
}
.student-img {
    width: 100%;
    margin-bottom: 8px;
}
.student-img img {
    width: 85%;
}
.student-name {
    font-size: 12px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.teacher-show {
    overflow: hidden;
}
.teacher-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    float: left;
}
.teacher-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.teacher-detail {
    width: 140px;
    padding-top: 15px;
    margin-left: 10px;
    text-align: left;
    font-size: 16px;
    float: left;
}
.teacher-detail .view-btn {
    border-radius: 5px;
    text-align: center;
    background: #FF686D;
    width: 90px;
    line-height: 28px;
    color: #fff;
    margin-top: 5px;
    display: block;
    font-size: 14px;
}
.teacher-tag {
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    background: #ff893b;
    border-radius: 30px;
    clear: both;
    float: left;
    margin-top: 15px;
    font-size: 12px;
}
.teacher-info {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #888;
    margin-top: 15px;
    clear: both;
}
.evaluate-list li {
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 25px;
    padding-bottom: 10px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    overflow: hidden;
}
.evaluate-list .user-info {
    width: 100px;
    float: left;
    text-align: center;
}
.evaluate-list .user-img {
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 auto;
}
.evaluate-list .user-evaluate {
    width: 750px;
    float: left;
    text-align: left;
}
.evaluate-list .evaluate-info {
    color: #666;
    width: 100%;
    display: block;
    font-size: 14px;
}
.evaluate-list .evaluate-time {
    width: 100%;
    height: 20px;
    margin-top: 5px;
    font-size: 12px;
    color: #999;
}
.user-question-list {
    margin-top: 75px;
}
.user-question-list li {
    padding: 15px 0;
    border-bottom: 1px solid #dfdfdf;
}
.user-question-list li:last-child {
    border-bottom: 0;
}
.user-question-list .question-icon {
    font-size: 12px;
    width: 20px;
    height: 20px;
    background: orange;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #fff;
    vertical-align: top;
}
.user-question-list .question-date {
    float: right;
    font-size: 12px;
    color: #777;
}
.user-question-list .question-txt {
    max-width: 500px;
    display: inline-block;
    word-break: break-all;
    line-height: 15px;
}
.tag-content.wechat img {
    height: 100px;
    width: 100px;
}
.tag-content .err-header {
    overflow: hidden;
    margin-bottom: 15px;
}
.tag-content .err-course-title {
    float: left;
    color: orangered;
    font-size: 18px;
}

.tag-content .err-course-date {
    float: right;
    margin-left: 20px;
    font-size: 14px;
    color: #999;
}
.tag-content .err-list {
    padding-bottom: 60px;
    margin-bottom: 20px;
}
.tag-content .err-list:not(:last-child) {
    border-bottom: 1px dotted #ccc;
}

.tag-content .err-content {
    color: #555;
    line-height: 1.8;
}

/* share */
.bdsharebuttonbox a {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0px 5px;
}
.bdsharebuttonbox .bds_weixin {
    background: url(/img/weixin-share.png) no-repeat top center;
}
.bdshare-button-style0-32 .bds_weixin,
.bdshare-button-style0-32 .bds_sqq,
.bdshare-button-style0-32 .bds_qzone,
.bdshare-button-style0-32 .bds_tsina {
    background-position: inherit !important;
}
.bdshare-button-style0-32 a {
    margin: 0 6px 0 0 !important;
}
.bdsharebuttonbox .bds_weixin {
    background-size: 25px auto;
}
.bdsharebuttonbox .bds_sqq {
    background: url(/img/qq-share.png) no-repeat top center;
    background-size: 22px auto;
}
.bdsharebuttonbox .bds_qzone {
    background: url(/img/qq-space-share.png) no-repeat top center;
    background-size: 26px auto;
    margin-top: -2px !important;
}
.bdsharebuttonbox .bds_tsina {
    background: url(/img/tsina-share.png) no-repeat top center;
    background-size: 28px auto;
    margin-top: -2px !important;
}