.wrap {
    width: 600px;
    margin: 0 auto;
}
.information-content ul li {
    border-bottom: 1px solid lavender;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}
.information-content .left {
    margin-right: 20px;
}
.right_top {
    margin-bottom: 15px;
}
.right_top h3 {
    font-size: 18px;
}
.right_bottom {
    margin-top: 15px;
}
.right_bottom_left span {
    color: darkgray;
    font-size: 12px;
}
.content_pic {
    display: block;
    width: 100px;
}
.content_content {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.information-content p {
    font-size: 14px;
}
.pagination-wrap {
    text-align: center;
}
