*{
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.menu-position {
    width: 1180px;
    margin: 0 auto;
}
.course-online {
    padding-top: 0;
    width: 1180px;
    margin: 0 auto;
}
.course-content {
    clear: both;
    margin-top: 20px;
    overflow: hidden;
}
.course-content .list li {
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.course-content .list li:nth-child(4n) {
    margin-right: 0;
}
.course-content .list li .course-img {
    width: 280px;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.course-content .list li .course-img .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.course-content .list li .course-img span {
    position: absolute;
    z-index: 2;
    height: 60px;
    width: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: url(/images/video-play-btn.png) no-repeat center;
    background-size: cover;
}
.video-layout {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 1100;
    display: none;
}
.video-box {
    position: fixed;
    text-align: center;
    width: 46%;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-left: -23%;
    background: #444;
    height: 360px;
    margin-top: -200px;
}
.video-box span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
}
.video-box video {
    width: 100%;
    vertical-align: bottom;
}
.close-video-btn {
    margin: -50px 0 30px 20px;
    cursor: pointer;
    width: 40px;
    position: absolute;
    right: -50px;
    opacity: 0.4;
}
.close-video-btn img {
    width: 100%;
}
.course-content .list li .course-img img {
    height: 100%;
    width: 100%;
}
.course-content .list>li:nth-child(4n) {
    margin-right: 0;
}
.course-content .content-title {
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
    color: #777779;
    text-align: left
}
.course-content .course-statistic {
    font-size: 13px;
    color: #b8b8b8;
    text-align: left;
}
.course-content .course-statistic .icon:before {
    font-size: 18px;
    vertical-align: middle;
}
.course-content .course-statistic .ion-android-person:before {
    color: #b8b8b8;
}
.course-content .course-statistic .ion-heart:before {
    color: #e43542;
    margin-left: 15px;
}
.course-content .teacher-section {
    margin-top: 10px;
}
.course-content .teacher-section img {
    width: 23px;
    margin-right: 15px;
}
.course-content .teacher-section .teacher-name {
    font-size: 13px;
    color: #777779;
}
.college-position {
    float: right;
    color: #50a9fd;
}
.course-time {
    float: right;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0 40px 0;
    border-radius: 4px;
    float: right;
}
.pagination > li > a, .pagination > li > span {
    border: 0;
    color: #000;
}
.pagination .next,
.pagination .prev {
    display: none;
}
/* .pagination > li > a, .pagination > li > span {
    background-color: inherit;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: inherit;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: inherit;
    border-color: inherit;
    color: #50a9fd;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: inherit;
    color: #50a9fd;
} */