.site-login-register {
    width: 100%;
    min-width: 1200px;
    background: url(../img/bg.jpg) center;
    height: 600px;
}
.site-login-register .form-group .control-label {
    display: none !important;
}
.site-login-register .field-signupform-smscode {
    width: 45%;
    float: left;
}
.site-login-register .verify-code {
    width: 45%;
    float: right;
}
.site-login-register .login-kuang {
    width: 1200px;
    margin: 0 auto;
}
.site-login-register .login-bg {
    width: 490px;
    font-size: 14px;
    padding: 35px 30px;
    margin-top: 80px;
    float: right;
    background: #f8f8f8;
}
.site-login-register.site-login .login-bg {
    margin-top: 120px;
}
.site-login-register .forget-section {
    float: right;
    margin-top: 9px;
}
.site-login-register .forget-section a {
    color: #333;
    font-size: 14px;
}
.site-login .field-loginform-rememberme {
    float: left;
}
.site-login .login-section {
    clear: both;
}
.site-login-register .login-section button,
.site-login .login-section a {
    background: #E6393F;
    width: 140px;
    line-height: 40px;
    border-radius: 3px;
    font-size: 14px;
    margin: 0 50px 0 60px;
    text-align: center;
    color: #fff;
    display: block;
    border: 0px;
    cursor: pointer;
    padding: 0;
    float: left;
    clear: both;
}
.site-login .login-section a {
    display: block;
    margin-left: 0;
    margin-right: 0;
}
.site-login button.login-button,
.site-login .login-section a {
    float: none;
    display: inline-block;
}
.site-login button:focus {
    outline: none !important;
}
.site-login button:active {
    background: #E6393F;
}
.site-signup .login-section button {
    float: right;
    margin-right: 0;
}

.verify-input {
    width: 48%;
    height: 40px;
    line-height: 26px;
    padding: 6px 12px;
    display: inline-block;
    box-sizing: border-box;
}
.verify-btn {
    width: 100%;
    height: 40px;
    color: #3487dc;
    font-size: 15px;
    line-height: 40px;
    padding: 0;
    border: 1px solid #3487dc;
    display: inline-block;
    box-sizing: border-box;
}
.verify-btn:hover,
.verify-btn:focus,
.verify-btn:visited,
.verify-btn:active {
    color: #3487dc;
}
.signup-line {
    margin-bottom: 25px;
}
.signup-input {
    height: 40px;
}
.signup-line .submit-btn {
    width: 25%;
    height: 40px;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    padding: 0;
    display: inline-block;
    float: right;
    background-color: #3487dc;
}
.form-group.field-changepasswordform-change_password_code {
    width: 55%;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 6px;
}
.site-resetpwd .verify-code {
    width: 38%;
    margin: 0;
}
.form-control {
    height: 40px;
}
.site-resetpwd button {
    width: 140px;
    height: 40px;
    background-color: #E6393F;
    border: 0;
}
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
.has-success .form-control,
.has-success .form-control:focus {
    border-color: #ccc;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.school-wrap {
    position: relative;
}
.school-wrap .school-result {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #fff;
    border: 1px solid #d2d6de;
    border-top: 0;
    z-index: 10;
    border-radius: 4px;
    max-height: 200px;
    overflow: auto;
    display: none;
}
.school-wrap .school-result span {
    display: block;
    padding: 6px 88px 6px 6px;
    cursor: pointer;
}
#signupform-schoolid {
    display: none;
}