@charset "utf-8";
/* CSS Document */
* {
    box-sizing: content-box !important;
}
body {
    font-family: "Microsoft Yahei", Arial Regular, 宋体;
    font-size: 12px;
    color: #333;
    background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
form,
input,
textarea,
button,
code,
em,
cite {
    padding: 0;
    margin: 0;
}
img {
    border: 0;
    display: block;
}
ol,
ul,
li,
dl,
dt,
dd {
    list-style: none;
}
a:link,
a:visited {
    color: #333;
    text-decoration: none
}
a:active,
a:hover {
    color: #de2a1b;
    text-decoration: none
}
.lt {
    float: left;
}
.rt {
    float: right;
}
.cl {
    clear: both;
}
.cc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cc {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .cc {
    height: 1%;
}
.cc {
    display: block;
}
/* End hide from IE-mac */
code,
input,
button,
cite,
textarea {
    font-family: "Microsoft Yahei", sans-serif;
}
cite {
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Microsoft Yahei", sans-serif;
    font-weight: 400;
}
code {
    padding: 2px;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border-radius: inherit;
}
.color2 {
    color: #646464;
}
.color2 a:link,
.color2 a:visited {
    color: #646464;
    text-decoration: none
}
.color2 a:active,
.color2 a:hover {
    color: #de2a1b;
    text-decoration: none
}
.colorfff {
    color: #fff;
}
.colorfff a:link,
.colorfff a:visited {
    color: #fff;
}
.colorfff a:active,
.colorfff a:hover {
    color: #ff0;
}
#topnav {
    width: 100%;
    height: 29px;
    background: #fcfcfc;
    border-bottom: 1px solid #efefef;
    line-height: 29px;
}
#topnav dl {
    width: 1200px;
    margin: 0 auto;
}
#topnav dt {
    float: left;
}
#topnav dd {
    float: right;
}
#topnav dd span {
    float: left;
    padding-left: 20px;
}
#topnav dd img {
    width: 20px;
    height: 16px;
    float: left;
    margin: 6px 6px 0 0;
}
#topnav dd span.topli {
    background: url(images/top_li.png) right center no-repeat;
    padding-right: 15px;
}
#topnav dd span a.topcol2 {
    color: #de2a1b;
}
#header {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
#header h1 {
    width: 388px;
    float: left;
}
#header h1 img {
    width: 388px;
    height: 75px;
}
#header code {
    float: left;
    width: 170px;
    padding-left: 20px;
}
#header code img {
    width: 170px;
    height: 75px;
}
#header span {
    float: right;
    font-size: 26px;
    line-height: 30px;
    color: #b6b6b6;
    margin-top: 10px;
}
#header span img {
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 5px;
}
#header span p {
    font-size: 12px;
    line-height: 20px;
}
#topmenu {
    width: 100%;
    height: 59px;
    background: url(images/topmenu.png) center top no-repeat;
}
#topmenu dl {
    width: 1200px;
    margin: 0 auto;
    line-height: 59px;
}
#topmenu dt {
    float: left;
}
#topmenu dt li {
    font-size: 16px;
    float: left;
    padding: 0 35px;
}
#topmenu dd {
    float: right;
    width: 218px;
    padding: 4px 15px;
    height: 30px;
    margin: 11px 45px 0 0;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.43);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}
.topinput1 {
    width: 190px;
    height: 30px;
    line-height: 30px;
    background: none;
    border: 0;
    float: left;
    font-size: 14px;
    color: #fff;
}
.topbtn1 {
    width: 21px;
    height: 21px;
    background: url(images/topbtn1.png) no-repeat;
    float: right;
    border: 0;
    line-height: 80px;
    overflow: hidden;
    margin-top: 4px;
}
.banner {
    width: 100%;
    height: 576px;
}
.banner dl {
    width: 1200px;
    margin: 0 auto;
}
.banner dt {
    width: 600px;
    height: 248px;
    padding-top: 40px;
    background: rgba(255, 255, 255, 0.56);
    float: right;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    line-height: 63px;
    margin-top: 126px;
}
.banner dt h4 {
    height: 63px;
    background: url(images/banner_an.png) center top no-repeat;
    font-size: 41px;
    font-weight: 700;
}
.banner dt span {
    width: 317px;
    height: 54px;
    line-height: 54px;
    background: #b00015;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin: 25px auto 0;
    display: inline-block;
}
.banner dt span a {
    height: 100%;
    display: block;
}
.banner2 {
    height: 484px;
}
.banner2 dt {
    float: left;
}
.indexgg {
    width: 100%;
    height: 38px;
    line-height: 38px;
    background: #f4f3f3;
}
.indexgg dl {
    width: 1200px;
    margin: 0 auto;
}
.indexgg dt {
    float: left;
    font-size: 12px;
}
.indexgg dt img {
    width: 15px;
    height: 13px;
    vertical-align: middle;
    top: -1px;
    position: relative;
    display: inline-block;
    margin-right: 8px;
}
.main {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.indextt1 {
    width: 100%;
    position: relative;
    line-height: 100px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
    color: #f8f8f8;
    text-transform: uppercase;
}
.indextt1a {
    color: #eee;
}
.indextt1 h3 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    color: #db2c1b;
    line-height: 40px;
    font-weight: 700;
    z-index: 999;
}
.indextt1 p {
    font-size: 14px;
    color: #999;
    font-weight: 400;
}
.indextt1 em {
    width: 24px;
    height: 4px;
    display: inline-block;
    background: #1e68c0;
    overflow: hidden;
}
.indextxt1 li {
    width: 221px;
    margin: 0 24px;
    height: 244px;
    cursor: pointer;
    background: url(images/txt1_li.png) no-repeat;
    color: #999;
    float: left;
    text-align: center;
    padding: 45px 65px 0;
    line-height: 22px;
}
.indextxt1 li img {
    width: 67px;
    height: 67px;
    margin: 0 auto;
}
.indextxt1 li h4 {
    font-size: 16px;
    color: #666;
    margin: 15px auto;
}
.indextxt1 li:hover {
    background: url(images/txt1_li2.png) no-repeat;
}
.hfgg1 {
    width: 100%;
    margin: 0 auto;
}
.hfgg1 a {
    height: 100%;
    display: block;
}
.indextxt2 li {
    width: 361px;
    float: left;
    padding: 0 19px;
}
.indextxt2 li img {
    width: 361px;
    height: 215px;
}
.indextxt2 li p {
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    margin-top: 20px;
    color: #999;
}
.indextxt3 {
    width: 100%;
    background: url(images/txt3_bg.jpg) center top no-repeat;
}
.indextxt4 {
    padding-bottom: 80px;
}
.indextxt4 li {
    width: 216px;
    float: left;
    text-align: center;
    line-height: 22px;
}
.indextxt4 li span {
    width: 164px;
    height: 108px;
    padding-top: 56px;
    background: url(images/txt4_li.png) no-repeat;
    display: inline-block;
}
.indextxt4 li span img {
    width: 52px;
    height: 52px;
    margin: 0 auto;
}
.indextxt4 li h4 {
    font-size: 16px;
    line-height: 40px;
    color: #666;
    background: url(images/txt4_li3.png) center bottom no-repeat;
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
}
.indextxt4 li p {
    height: 40px;
    overflow: hidden;
    margin-top: 5px;
    color: #999;
}
.indextxt4 li:hover span {
    background: url(images/txt4_li2.png) no-repeat;
}
.indextxt4 li.txt4li4 {
    width: 16px;
    height: 16px;
    background: url(images/txt4_li4.png) no-repeat;
    padding: 0 5px;
    margin-top: 79px;
}
.indextxt5 dl {
    width: 265px;
    float: left;
    line-height: 20px;
    padding: 20px 17px;
}
.indextxt5 dt img {
    width: 36px;
    height: 36px;
    float: left;
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    margin-right: 10px;
}
.indextxt5 dt h4 {
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    font-size: 14px;
}
.indextxt5 dt p em {
    width: 9px;
    height: 8px;
    background: url(images/xingji.png) no-repeat;
    float: left;
    margin: 5px 2px 0 0;
}
.indextxt5 dt p em.xingji2 {
    background: url(images/xingji2.png) no-repeat;
}
.indextxt5 dt p span {
    float: right;
    font-size: 12px;
    color: #999;
    padding-left: 15px;
}
.indextxt5 dd {
    width: 100%;
    float: left;
    height: 40px;
    overflow: hidden;
    color: #666;
}
.txt5more {
    width: 100%;
    text-align: center;
}
.txt5more a {
    width: 106px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    background: #db2c1b;
    border-radius: 5px;
    font-size: 14px;
    margin: 40px auto 0;
}
#footer {
    width: 100%;
    background: #1f2d38;
    color: #a9acaf;
    padding-top: 30px;
}
#footer dt {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
#footer dt h2 {
    width: 215px;
    float: left;
    height: 125px;
    border-right: 1px solid #36424c;
    padding-top: 25px;
}
#footer dt h2 img {
    width: 188px;
    height: 38px;
}
#footer dt h2 p {
    font-size: 14px;
    line-height: 40px;
}
#footer dt li {
    float: left;
    line-height: 30px;
    font-size: 14px;
    padding-left: 50px;
}
#footer dt li h4 {
    font-size: 16px;
    color: #fff;
}
#footer dt li.ftwx {
    float: right;
}
#footer dt li.ftwx span {
    width: 168px;
    float: left;
    padding-left: 25px;
}
#footer dt li.ftwx span img {
    width: 158px;
    height: 158px;
    padding: 5px;
    background: #fff;
    margin-top: 5px;
}
#footer dd {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 2px solid #414c52;
}
#footer a:link,
#footer a:visited {
    color: #a9acaf;
}
#footer a:active,
#footer a:hover {
    color: #ff0;
}
/*内页*/
.nytxt1 dl {
    width: 1198px;
    height: 303px;
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 50px;
}
.nytxt1 dt {
    width: 383px;
    height: 285px;
    border-right: 1px solid #eee;
    padding: 9px;
    float: left;
}
.nytxt1 dt img {
    width: 383px;
    height: 285px;
}
.nytxt1 dd {
    width: 770px;
    float: right;
    padding: 20px 15px 0 0;
    line-height: 24px;
}
.nytxt1 dd h4 {
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
}
.nytxt1 dd p.bjms {
    color: #666;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.nytxt1 dd div.tyny {
    padding: 20px 20px 0;
}
.nytxt1 dd div.tyny p img {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -3px;
}
.nytxt1 dd div.tyny h5 {
    font-size: 14px;
    line-height: 40px;
    padding-top: 10px;
    color: #999;
}
.nytxt1 dd div.tyny h5 span {
    width: 160px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #b00015;
    float: right;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.nytxt1 dd div.tyny h5 span a {
    height: 100%;
    display: block;
}
.pagination-wrap {
    text-align: center;
}
.pagination > li > a,
.pagination > li > span {
    color: #333;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #b00015;
    border-color: #b00015;
}
.pagination {
    margin-top: 0;
}
.page {
    width: 100%;
    line-height: 30px;
    text-align: center;
    padding: 20px 0 40px;
    color: #464545;
}
.page a {
    height: 30px;
    display: inline-block;
    margin: 0 5px;
    background: #efefef;
    padding: 0 10px;
}
.page a:link,
.page a:visited {
    color: #464545;
}
.page a:active,
.page a:hover,
.page a.pagenow {
    color: #fff;
    background: #b00015;
}
.nytxt2 {
    width: 100%;
    height: 370px;
    background: #264863;
}
.nytxt2 dt {
    width: 660px;
    height: 370px;
    float: left;
}
.nytxt2 dt video {
    width: 100%;
    height: 100%;
}
.nytxt2 dd {
    width: 500px;
    float: right;
    font-size: 17px;
    line-height: 40px;
    color: #eef5fc;
    padding-top: 20px;
}
.nytxt2 dd h4 {
    font-size: 24px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}
.nytxt2 dd p.bjxq1 code {
    font-size: 30px;
    color: #0f88e7;
    padding-right: 20px;
}
.nytxt2 dd p.bjxq1 del {
    color: #999;
}
.nytxt2 dd p.bjxq2 {
    padding: 20px 0 34px;
}
.nytxt2 dd p.bjxq2 code {
    width: 150px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    background: #8a8282;
    margin-right: 11px;
    text-align: center;
}
.nytxt2 dd p.bjxq2 code.xq2now {
    background: #985054;
}
.nytxt2 dd p.bjxq3 span {
    width: 157px;
    height: 39px;
    line-height: 39px;
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 22px;
    color: #0f88e7;
}
.nytxt2 dd p.bjxq3 span a {
    height: 100%;
    display: block;
    color: #0f88e7;
}
.nytxt2 dd p.bjxq3 code {
    font-size: 14px;
    padding-left: 25px;
}
.nytxt2 dd p.bjxq3 code img {
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.nytxt3 {
    width: 100%;
    margin-top: 20px;
}
.nytxt3_l {
    width: 826px;
    padding: 18px;
    float: left;
    border: 1px solid #eee;
}
.nytxt3_lny1 dl {
    height: 42px;
    border-bottom: 1px solid #eee;
}
.nytxt3_lny1 dd {
    width: 108px;
    height: 41px;
    line-height: 41px;
    background: #fafafa;
    margin-right: 3px;
    text-align: center;
    border: 1px solid #eee;
    border-bottom: 0;
    float: left;
    font-size: 18px;
}
.nytxt3_lny1 dd a {
    height: 100%;
    display: block;
}
.nytxt3_lny1 dd:hover a,
.nytxt3_lny1 dd.kcnow a {
    background: #f3f6fd;
    color: #de2a1b;
}
.nytxt3_lny1 dt {
    font-size: 18px;
    line-height: 42px;
    float: right;
    padding-right: 23px;
}
.nytxt3_lny1 ul {
    margin: 10px 0;
}
.nytxt3_lny1 li {
    line-height: 47px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.nytxt3_lny1 li:last-child {
    border-bottom: 0;
}
.nytxt3_lny1 li span {
    width: 100px;
    display: inline-block;
}
.nytxt3_lny1 li code {
    width: 108px;
    height: 28px;
    font-size: 14px;
    margin-top: 9px;
    line-height: 28px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: right;
    background: #00b070;
}
.nytxt3_r {
    width: 295px;
    float: right;
}
.nytxt3_rny1 {
    min-height: 140px;
    width: 271px;
    border: 1px solid #eee;
    padding: 11px;
}
.nytxt3_rny1 dt {
    width: 132px;
    float: left;
}
.nytxt3_rny1 dt img {
    border: 1px solid #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nytxt3_rny1 dd {
    width: 125px;
    float: right;
}
.nytxt3_rny1 dd h4 {
    font-size: 16px;
    border-bottom: 1px solid #eee;
    line-height: 16px;
    padding: 0 10px;
    height: 26px;
    overflow: hidden;
    margin-bottom: 10px;
}
.nytxt3_rny1 dd p {
    padding: 0 10px;
    color: #666;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nytxt3_rny1 dd p.rny1name {
    font-size: 16px;
}
.nytxt3_rny2 {
    width: 271px;
    border: 1px solid #eee;
    padding: 0 11px 11px;
    margin-top: 20px;
}
.nytxt3_rny2 h3 {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.nytxt3_rny2 li {
    width: auto;
    float: left;
    text-align: center;
    padding: 10px 2px 0;
}
.nytxt3_rny2 li img {
    width: auto;
    height: 84px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nytxt3_rny2 li p {
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}
.txt5_pic {
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 1200px;
    margin-top: 80px;
}
.txt5_pic ul {
    width: 8000%;
    position: absolute;
    top: 0;
    left: 0;
}
.txt5_pic li {
    width: 1100px;
    float: left;
    padding: 0 50px;
}
.txt5_pic li span {
    width: 545px;
    float: left;
    font-size: 14px;
    line-height: 34px;
    color: #666;
    padding-top: 100px;
}
.txt5_pic li span h4 {
    color: #db2c1b;
    line-height: 24px;
    margin-bottom: 30px;
}
.txt5_pic li span h4 code {
    font-size: 24px;
}
.txt5_pic li span h4 p {
    color: #666;
}
.txt5_pic li img {
    width: 554px;
    height: 500px;
    float: right;
}
.txt5_small {
    height: 108px;
    width: 1130px;
    margin: 0 auto;
    position: relative;
}
.txt5_small cite {
    width: 63px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 39px;
    z-index: 9999;
}
.txt5_small cite.gdleft {
    background: url(images/gdleft.png) no-repeat;
    left: -10px;
}
.txt5_small cite.gdright {
    background: url(images/gdright.png) no-repeat;
    right: -10px;
}
.txt5_small cite:hover {
    background-position: 0 -27px;
}
.scroll_pic {
    width: 1120px;
    height: 108px;
    overflow: hidden;
    float: left;
    position: relative;
    margin: 0 auto;
}
.scroll_pic ul {
    position: absolute;
    width: 8000%;
    top: 0;
    left: 0;
}
.scroll_pic li {
    width: 176px;
    float: left;
    padding: 0 0 0 12px;
}
.scroll_pic li img {
    width: 176px;
    height: 108px;
    cursor: pointer;
}
.scroll_pic li.current img {
    width: 172px;
    height: 104px;
    border: 2px solid #b00015;
}
.nytxt4 {
    width: 100%;
    background: #f7f7f9;
}
.nytxt4_pic {
    width: 1200px;
    margin: 100px auto 0;
    height: 570px;
    overflow: hidden;
    position: relative;
}
.nytxt4_pic ul {
    width: 8000%;
    position: absolute;
    top: 0;
    left: 0;
}
.nytxt4_pic li {
    width: 1200px;
    height: 570px;
    float: left;
}
.nytxt4_pic li span {
    width: 192px;
    float: left;
    padding: 28px 4px 0;
}
.nytxt4_pic li span img {
    width: 192px;
    height: 257px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nytxt4_an {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.nytxt4_an code {
    width: 28px;
    height: 5px;
    background: #a0a0a0;
    display: inline-block;
    cursor: pointer;
    margin: 0 3px;
}
.nytxt4_an code.fdnow {
    background: #b00015;
}
.nytxt5 {
    width: 1200px;
    margin: 50px auto 0;
}
.nytxt5 dt {
    width: 770px;
    float: left;
}
.nytxt5 dt img {
    width: 770px;
    height: 440px;
}
.nytxt5 dd {
    width: 410px;
    float: right;
    padding-top: 90px;
}
.nytxt5 dd h4 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.nytxt5 dd p {
    font-size: 22px;
    line-height: 40px;
    color: #666;
}
.nytxt5 dd code {
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    background: #b00015;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}