.material-inner {
    width: 1180px;
    margin: 0 auto;
    border-top: 1px dashed #ccc;
    padding: 15px 0;
    height: auto;
}
.material-inner li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.material-inner li a {
    color: #3f464e;
}
.material-inner li a:hover {
    color: #337ab7;
}