* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'sans-serif';
}
ul, li {
    list-style: none;
}
html,
body {
    height: 100%;
    min-width: 1180px;
}
a:focus, a:hover, input, input:focus {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container-course {
    width: 1180px;
    margin: 0 auto;
    padding: 0;
}
.menu-position {
    font-size: 12px;
    color: #888;
    line-height: 55px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap .top-ads {
    width: 1080px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color: #949494;
}
.wrap .log-sec a {
    color: #949494;
}
.wrap .top-ads .ads {
    width: 70%;
    float: left;
}
.wrap .top-ads .log-sec {
    width: 30%;
    margin-left: 70%;
    height: 100%;
    margin-bottom: 0;
}
.wrap .user-li i {
    margin-right: 6px;
}
.wrap .logout-li button.btn-link {
    color: #949494;
}
.wrap .logout-li button.btn-link:focus,
.wrap .logout-li button.btn-link:hover {
    text-decoration: none;
}
.wrap .top-ads li {
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.wrap .top-ads .has-login {
    display: none;
}
.nav-right {
    float: right;
    position: relative;
    height: 80px;
}
.nav-right ul.unlogin li {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin-right: 20px;
}
.nav-right ul.unlogin li:nth-child(2) {
    margin-right: 0;
}
.nav-right .cart-link {
    height: 30px;
    display: inline-block;
    margin-right: 20px;
}
.login-wrap {
    margin-top: 25px;
    font-size: 15px;
    display: inline-block;
}
.login-wrap li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
}
.login-wrap li:nth-child(2) {
    margin-right: 0;
}
.login-wrap .logout-link {
    background-color: #fff;
    outline: none;
    border: 0;
    color: #949494;
}
.login-wrap .logout-link:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(/img/logout.png);
    background-size: cover;
    background-position: center;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.login-wrap .user-avar img {
    border-radius: 50%;
}
.login-wrap .user-avar img,
.nav-right .cart-link img {
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
.nav-right .cart-link img {
    vertical-align: bottom;
}
.wrap .icon.ion-ios-cart-outline:before {
    font-size: 25px;
}
.wrap .top-ads li.cart {
    position: relative;
    margin-right: 35px;
}
.wrap .top-ads li.cart .cart-count {
    font-size: 12px;
    font-style: normal;
    width: 18px;
    height: 18px;
    background: #949494;
    padding: 0;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: -12px;
    line-height: 18px;
    text-align: center;
}
.wrap .menu-wrapper {
    width: 1180px;
    margin: 0 auto;
    height: 80px;
    overflow: hidden;
}
.wrap .menu-wrapper .logo {
    float: left;
    margin-right: 40px;
    margin-top: 15px;
}
.wrap .menu-wrapper .nav-menu {
    overflow: hidden;
    float: left;
    margin: 22px 0 0;
}
.wrap .menu-wrapper .nav-menu li {
    float: left;
    margin-right: 60px;
    line-height: 36px;
}
.wrap .menu-wrapper .nav-menu a {
    color: #3f464e;
    font-size: 15px;
    font-weight: bold;
}
.wrap .menu-wrapper input {
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-indent: 5px;
    border: 1px solid #4b3935;
}
.wrap .menu-wrapper a.search-btn {
    display: inline-block;
    width: 60px;
    height: 36px;
    background: linear-gradient(to bottom, #df3236,#b80a0b);
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 35px;
    box-sizing: border-box;
    margin-left: -5px;
}
.wrap .menu-wrapper .website-qrcode {
    float: right;
}
.wrap .website-qrcode .qrcode {
    float: left;
    margin-right: 5px;
}
.wrap .website-qrcode .qrcode:last-child {
    margin-right: 0;
}
.wrap .website-qrcode .label {
    font-size: 13px;
    color: #3f464e;
    display: block;
    width: 56px;
    text-align: center;
    padding: 0 0 8px;
}


.wrap > .container {
    width: 100% !important;
    padding: 0;
    background: #f2f3f5;
    min-width: 1180px;
}

.footer {
    background-color: #1c1c1c;
    width: 100%;
    clear: both;
}
.footer-inner {
    width: 1180px;
    margin: 0 auto;
    padding: 35px 0;
    overflow: hidden;
}
.footer-inner dl {
    float: left;
    width: 236px;
}
.footer-inner dt {
    color: #fff;
    width: 80%;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding-bottom: 8px;
    font-size: 18px;
    margin-bottom: 12px;
}
.footer-inner dd,
.footer-inner dd a {
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    line-height: 30px;
}
.footer-inner .qrcode-section {
    text-align: center;
}
.footer-inner .qrcode-section dt {
    width: 100%;
    text-align: center;
    border: 0;
}
.copyright p {
    clear: both;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #181818;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.menu-wrapper .menu-search-group{
    padding: 25px 0;
    float: left;
}
.menu-wrapper .menu-search-group .btn-default:hover {
    background-color: transparent;
    border-color: transparent;
}
.menu-wrapper .menu-search-group .form-control{
    border: 1px solid #ccc;
    border-radius: 20px;
    display: inline-block;
    padding: 6px 12px 6px 30px;
    width: 150px;
    height: 30px;
    text-indent: 0;
}
.menu-wrapper .menu-search-group .search-button {
    left: 30px;
    top: 5px;
    color: #848e99;
    cursor: pointer;
    font-size: 17px;
}