@charset "utf-8";
/* CSS Document */
html,
body {
    min-width: 1200px;
}
body {
    font-family: "Microsoft Yahei", Arial Regular, 宋体;
    font-size: 12px;
    color: #333;
    background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
form,
input,
textarea,
button,
code,
em,
cite {
    padding: 0;
    margin: 0;
}
img {
    border: 0;
}
ol,
ul,
li,
dl,
dt,
dd {
    list-style: none;
    font-weight: normal;
    line-height: inherit;
}
a:link,
a:visited {
    color: #333;
    text-decoration: none
}
a:active,
a:hover {
    color: #de2a1b;
    text-decoration: none
}
.lt {
    float: left;
}
.rt {
    float: right;
}
.cl {
    clear: both;
}
.cc:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.cc {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .cc {
    height: 1%;
}
.cc {
    display: block;
}
/* End hide from IE-mac */
code,
input,
button,
cite,
textarea {
    font-family: "Microsoft Yahei";
}
cite {
    font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Microsoft Yahei";
    font-weight: 400;
}
.color2 {
    color: #646464;
}
.color2 a:link,
.color2 a:visited {
    color: #646464;
    text-decoration: none
}
.color2 a:active,
.color2 a:hover {
    color: #de2a1b;
    text-decoration: none
}
.colorfff {
    color: #fff;
}
.colorfff a:link,
.colorfff a:visited {
    color: #fff;
}
.colorfff a:active,
.colorfff a:hover {
    color: #ff0;
}
#topnav {
    width: 100%;
    height: 29px;
    background: #fcfcfc;
    border-bottom: 1px solid #efefef;
    line-height: 29px;
}
#topnav dl {
    width: 1200px;
    margin: 0 auto;
}
#topnav dt {
    float: left;
}
#topnav dd {
    float: right;
}
#topnav dd span {
    float: left;
    padding-left: 20px;
    position: relative;
}
#topnav dd span.hover {
    cursor: pointer;
}
#topnav dd img {
    width: 20px;
    height: 16px;
    float: left;
    margin: 6px 6px 0 0;
}
#topnav dd .qq-icon-wrap img {
    height: 20px;
    width: 20px;
    margin-top: 4.5px;
}
#topnav dd .wechat-icon-wrap img.erweima {
    position: absolute;
    width: 96px;
    height: auto;
    top: 23px;
    left: 16px;
    display: none;
}
#topnav dd .qq-icon-wrap img.erweima {
    position: absolute;
    width: 80px;
    height: auto;
    top: 23px;
    left: 7px;
    display: none;
}
#topnav dd .wechat-icon-wrap:hover img.erweima {
    display: block;
}
#topnav dd .qq-icon-wrap:hover img.erweima {
    display: block;
}
#topnav dd span.topli {
    background: url(images/top_li.png) right center no-repeat;
    padding-right: 15px;
}
#topnav dd span a.topcol2 {
    color: #333;
    margin-right: 15px;
}
#topnav dd span a.topcol2:last-child {
    margin-right: 0;
}
#topnav dd span a.topcol2:hover {
    color: #fb3449;
}
#header {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
#header h1 {
    width: 388px;
    float: left;
}
#header h1 img {
    width: 388px;
    height: 75px;
}
#header code {
    float: left;
    width: 170px;
    padding-left: 20px;
}
#header code img {
    width: 170px;
    height: 75px;
}
#header span {
    float: right;
    font-size: 26px;
    line-height: 30px;
    color: #b6b6b6;
    margin-top: 10px;
}
#header span img {
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 5px;
}
#header span p {
    font-size: 12px;
    line-height: 20px;
}
#topmenu {
    width: 100%;
    height: 59px;
    background: url(images/topmenu.png) center top no-repeat;
}
#topmenu dl {
    width: 1200px;
    margin: 0 auto;
    line-height: 59px;
}
#topmenu dt {
    float: left;
}
#topmenu dt li {
    font-size: 16px;
    float: left;
    padding: 0 35px;
}
#topmenu dd {
    float: right;
    width: 218px;
    padding: 4px 15px;
    height: 30px;
    margin: 11px 45px 0 0;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.43);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    box-sizing: content-box;
}
.topinput1 {
    width: 190px;
    height: 30px;
    line-height: 30px;
    background: none;
    border: 0;
    float: left;
    font-size: 14px;
    color: #fff;
}
.topbtn1 {
    width: 21px;
    height: 21px;
    background: url(images/topbtn1.png) no-repeat;
    float: right;
    border: 0;
    line-height: 80px;
    overflow: hidden;
    margin-top: 4px;
}
#footer {
    width: 100%;
    background: #1f2d38;
    color: #a9acaf;
    padding-top: 30px;
}
#footer .footer-content {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
#footer .footer-content ul {
    overflow: hidden;
}
#footer .footer-content h2 {
    width: 215px;
    float: left;
    height: 125px;
    border-right: 1px solid #36424c;
    padding-top: 25px;
}
#footer .footer-content h2 img {
    width: 188px;
    height: 38px;
}
#footer .footer-content h2 p {
    font-size: 14px;
    line-height: 40px;
}
#footer .footer-content li {
    float: left;
    line-height: 30px;
    font-size: 14px;
    padding-left: 50px;
}
#footer .footer-content li h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}
#footer .footer-content li.ftwx {
    float: right;
}
#footer .footer-content li.ftwx span {
    width: 168px;
    float: left;
}
#footer .footer-content li.ftwx span img {
    width: 158px;
    height: 158px;
    padding: 5px;
    background: #fff;
    margin-top: 5px;
    box-sizing: border-box !important;
}
#footer .footer-bottom {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 2px solid #414c52;
}
#footer a:link,
#footer a:visited {
    color: #a9acaf;
}
#footer a:active,
#footer a:hover {
    color: #ff0;
}