.teacher-section .teach-list {
    margin-top: 80px;
    text-align: center;
}
.teacher-section .teach-list li {
    width: 370px;
    height: 270px;
    background: #fff;
    display: inline-block;
    margin-right: 30px;
    border-radius: 10px;
    margin-bottom: 90px;
}
.teacher-section .teach-list li:nth-child(3n) {
    margin-right: 0;
}
.teacher-section .teach-list li:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.teacher-section .people-img {
    margin: -60px auto 15px;
    text-align: center;
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
}
.teacher-section .teach-list li:hover .people-img {
    border: 4px solid #e6393f;
    box-sizing: border-box;
}
.teacher-section .intro {
    color: #333;
    padding-left: 35px;
    margin-top: 10px;
    text-align: left;
}
.teacher-section .name {
    font-size: 16px;
}
.teacher-section .work {
    background: #38b29b;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 18px;
    margin-left: 10px;
}
.teacher-section .te-label,
.teacher-section .te-text {
    font-size: 14px;
}
.teacher-section .te-text {
    color: #888;
}

.teacher-detail {
    padding: 20px;
    width: 1180px;
    border: 1px solid #e6393f;
    border-radius: 10px;
    background: #fff;
}
.teacher-detail .left-introduce {
    width: 200px;
    padding: 0 20px 25px;
    float: left;
}
.teacher-detail .teacher-img {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    border: 2px solid #e94f54;
    margin-bottom: 25px;
}
.teacher-detail .teacher-img img {
    width: 100%;
}
.teacher-detail .teacher-name {
    height: 24px;
    margin-bottom: 10px;
}
.teacher-detail .teacher-name .name {
    font-size: 16px;
    margin-right: 5px;
    line-height: 24px;
}
.teacher-detail .teacher-name .school {
    padding: 0px 10px;
    text-align: center;
    color: #fff;
    background: #ff893b;
    border-radius: 30px;
    line-height: 24px;
    display: inline-block;
    width: 100px;
    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.teacher-detail .teacher-class {
    margin-top: 10px;
}
.teacher-detail .tag {
    font-size: 16px;
    color: #333;
}
.teacher-detail .tag-count {
    font-size: 16px;
    color: #888888;
}
.teacher-detail .right-introduce {
    width: 850px;
    padding: 0 25px;
    border-left: 1px solid #dddddd;
    margin-top: 45px;
    margin-left: 210px;
}
.teacher-detail .right-introduce h4 {
    font-size: 20px;
    text-align: center;
}
.teacher-detail .txt h5 {
    font-size: 16px;
    margin-top: 25px;
}
.teacher-detail .txt p {
    font-size: 14px;
    line-height: 25px;
    text-indent: 2em;
    margin-top: 20px;
}
.course-tab {
    overflow: hidden;
    margin-top: 50px;
}
.course-tab li {
    width: 110px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #a7a7a9;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
}
.course-tab li.active {
    border: 1px solid #b4746b;
    color: #b4746b;
    border-radius: 18px;
}
.course-content {
    clear: both;
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 50px;
}
.course-content .list {
    display: none;
    overflow: hidden;
}
.course-content .list.active {
    display: block;
}
.course-content .list li {
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.course-content .list li .course-img {
    width: 280px;
    height: 210px;
    cursor: pointer;
    overflow: hidden;
}
.course-content .list li .course-img img {
    transform: scale(1.0);
    transition: transform 1.5s;
    -webkit-transition: transform 1.5s;
}
.course-content .list li .course-img.active img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.course-content .list>li:nth-child(4n) {
    margin-right: 0;
}
.course-content .content-title {
    font-size: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0;
    color: #777779;
    text-align: left
}
.course-content .course-statistic {
    font-size: 13px;
    color: #b8b8b8;
    text-align: left;
}
.course-content .course-statistic .icon:before {
    font-size: 18px;
    vertical-align: middle;
}
.course-content .course-statistic .ion-android-person:before {
    color: #b8b8b8;
}
.course-content .course-statistic .ion-heart:before {
    color: #e43542;
    margin-left: 15px;
}
.course-content .teacher-section {
    margin-top: 10px;
}
.course-content .teacher-section img {
    width: 23px;
    margin-right: 15px;
}
.course-content .teacher-section .teacher-name {
    font-size: 13px;
    color: #777779;
}