.user-wrapper {
    width: 1180px;
    margin: 0 auto;
}
.user-wrapper .left-menu {
    width: 225px;
    background: #fff;
    padding-bottom: 70px;
    margin-bottom: 30px;
    float: left;
}
.user-wrapper .left-menu a {
    color: #333;
}
.user-wrapper .topinfo {
    padding: 30px 20px 0;
    text-align: center;
}
.user-wrapper .topinfo .company {
    font-size: 14px;
    color: #999;
    margin-bottom: 25px;
}
.user-wrapper .btn a {
    font-size: 13px;
    margin-right: 8px;
}
.user-wrapper .btn a i {
    margin-right: 3px;
}
.user-wrapper .btn a i.ion-edit:before {
    font-size: 15px;
}
.user-wrapper .left-menu .menu {
    margin-top: 20px;
}
.user-wrapper .left-menu .menu a {
    display: block;
    font-size: 16px;
    color: #4a4a4a;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 60px;
}
.user-wrapper .left-menu .menu a.active,
.user-wrapper .left-menu .menu a:hover {
    background: #e3383e;
    color: #fff;
}
.user-wrapper .left-menu .menu a i {
    margin-right: 10px;
    width: 16px;
    display: inline-block;
}
.user-wrapper .left-menu .menu a.active i:before,
.user-wrapper .left-menu .menu a:hover i:before {
    color: #fff;
}
.user-wrapper .right-content {
    background: #fff;
    width: 890px;
    padding: 30px;
    float: right;
}
.user-wrapper .info-wrapper {
    padding: 30px;
}
.user-wrapper .info-wrapper p {
    margin-bottom: 20px;
    font-size: 15px;
}
.user-wrapper .info-wrapper .info-label {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
    text-align: right;
}
.user-wrapper .info-wrapper .info-img img {
    width: 80px;
}
.user-wrapper .info-wrapper .edit-btn {
    display: block;
    width: 150px;
    height: 40px;
    color: #fff;
    background: #529bcc;
    border-radius: 18px;
    line-height: 40px;
    text-align: center;
    margin-left: 30px;
    margin-top: 40px;
}
.user-wrapper input {
    display: inline-block;
    width: 350px;
    height: 35px;
    line-height: 35px;
}